*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
  overflow-x: scroll;

}

#container {
 
  width: 100vw;
  height: 100vh;

}
header{
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.mainLayou{
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
  overflow-x: scroll;
  white-space: nowrap;

}
.mainLayou::-webkit-scrollbar {
  display: none;

}
footer{
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root{
  height: 100vh;
  width: 100vw;

}


.textchild {

  font-family: 'Hi Melody', cursive;
  font-size: 1.2vw; /* 부모 요소 너비의 2%에 해당하는 폰트 크기 */
  white-space: pre-line;
  font-weight:bold;
}

.textH1 {

  font-family: 'Hi Melody', cursive;
  white-space: pre-line;
  width: 100%;
  height: 20%;
  font-size: 50px;
  text-align: center;
}