*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
  overflow-x: scroll;

}

#container {
 
  width: 100vw;
  height: 100vh;

}
header{
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainLayou{
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
  overflow-x: scroll;
  white-space: nowrap;

}
.mainLayou::-webkit-scrollbar {
  display: none;

}
footer{
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root{
  height: 100vh;
  width: 100vw;

}