<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.development.js"></script>

  <link rel="stylesheet" href="test.css">
</head>
<body>
  <div id="root">
    <h1>나는 신발이 없음을 한탄했는데,</h1>
  <h1>길에서 발이 없는 사람을 만났다.</h1>
  </div>

<script >

  ReactDOM.render(<App />, document.getElementById('root'));

// const root = document.getElementById('root')
// let togle = true
// const h1 = document.querySelectorAll('h1')
// root.addEventListener('click', function(){

//   if(togle === true)
//   {
//     root.style.backgroundColor = 'aliceblue';
//     h1.style.color = 'black'
//     togle = false
//   }
//   else{
//     root.style.backgroundColor = 'black';
//     h1.style.color = 'aliceblue'
//     togle = true
//   }
// })
</script>
</body>

</html>